body {
    /*background-color: #d9d9d9; */
    background: url("../img/bg.png") repeat;
}

#maincontainer {
    padding-top: 60px;
}

.light-box {
    margin: 20px;
    padding: 10px;
    border: 1px solid black;
    background-color: rgba(255,255,255,0.8);
    border-radius: 2px;
}

.course div > ul {
    display: block;
    margin: 0;
    padding: 0;
}

.course div > ul li {
    display: inline-block;
    font-weight: bold;
}

.right {
    float: right;
}

.more-margin {
    margin: 20px;
}

.box-shadow {
    box-shadow: 0 0 3em #888888;
}

.brand a:hover {
    text-decoration: none;
    color: #0088CC;
    text-shadow: 0px 0px 4px #006091;
}

.bs-docs-sidenav.affix {
    top: 40px;
}

.bs-docs-sidenav {
    width: 258px;
}

.bs-docs-sidenav {
    background-color: #FFFFFF;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    margin: 30px 0 0;
    padding: 0;
    width: 228px;
}

.bs-docs-sidenav .icon-chevron-right {
    float: right;
    margin-right: -6px;
    margin-top: 2px;
    opacity: 0.25;
}

#footer {
    background-color: rgba(22, 22, 22,0.8);
    border-top: 6px solid #a5a5a5;
    margin-top: 60px;
    padding: 30px 0;
    text-align: center;
    color:#a5a5a5;
}
.main-content{
    border: 1px solid #a5a5a5;
    background-color: rgba(248, 248, 248, 0.75);
    padding: 20px;
}
#lesson-content {

    list-style: none;
}
#lessons-menu h3 {
    background-color:rgba(0,0,0,0.3);
    padding: 5px;
    color: #e1e8f0;

}

#lesson-content .row {
   margin-left: 0px;
}

#lesson-content .row-fluid, #lesson-content .row {
    margin-bottom: 20px;
}

.row div h2, .row div h3 {
    margin-top: 25px;
}

#lesson-content .row div h2, #lesson-content .row div h3 {
    margin-top: 40px;
}

.course div h2 {
    margin-top: 10px;
}

#lesson-content .row div.content-container h2 {
    margin-top: 0;
}

#lesson-content .edit-box {
    margin-bottom: 5px;
}


.container-edit {
    min-height: 120px !important;
    margin-bottom: 10px;
    border: 3px dotted #999792;
    width: 48% !important;
    padding-right: 12px;
    padding-left: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
}

#progress {
    margin-top: 20px;
}

#dropzone {
    margin-top: 20px;
    background: #e5e5e5;
    line-height: 50px;
    text-align: center;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

#dropzone.hover {
    background: #ffffff;
}

#dropzone.fade {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
}

.hovered {
    background: #ffffff;

}

input.edit-btn-large {
    padding: 11px 19px;
    font-size: 30px;
    width: 90%;

}


.btn-warning {
    cursor: pointer !important;
}

/* ++++++++++++++++ Bootstrap 2.3 patches ++++++++++    */

.pagination ul>.disabled>a, .pagination ul>.disabled>a:hover {
    background-color: #f5f5f5;
}

/* ++++++++++++++++ Quiz +++++++++++++++++++    */

.startQuiz,
.nextQuestion,
.backToQuestion,
.questions li.question,
.questions li.question .responses,
.questions li.question .responses .alert-success,
.questions li.question .responses .alert-error,
.quizResults {
    display: none;
}

.nextQuestion.checkAnswer {
    display: block;
}

ol.questions,
ul.answers,
ul.responses,
ol.questions li,
ul.answers li,
ul.responses li {
    list-style-type: none;
}

ul.answers label {
    display: inline;
    margin-bottom: 0;
    margin-left: 10px;
    cursor: default;
    vertical-align: middle;
}

.checkAnswer {
    margin-top: 10px;
}

#quiz-update .controls {
    margin-left: 10px;
!important
}

#quiz-json-form .checkbox {
    float: left;
    margin-top: 4px;
}

#quiz-json-form .control-group {
    margin-bottom: 5px;
}

#quiz-json-form div div.control-group div.controls div ul._jsonform-array-ul li fieldset div.control-group {
    margin-bottom: 10px;
}

#quiz-json-form div div.control-group div.controls div ul._jsonform-array-ul li fieldset div.control-group div {
    margin-bottom: 0px;
!important
}

#quiz-json-form div div.control-group div.controls div ul._jsonform-array-ul li {
    border-bottom: 1px solid #aaa;
    margin-bottom: 10px;

}

#quiz-json-form div div.control-group div.controls div ul._jsonform-array-ul li li {
    border: none;
}

.vjs-big-play-button{
    margin: auto !important;
}

@media print {
    #lessons-menu, .navbar, #footer{
        display:none;
    }
    #lesson-content{
        border: none;
        padding: 0;
    }
}

.slideCheck input[type=checkbox] {
    visibility: hidden;
}

.slideCheck {
    width: 80px;
    height: 26px;
    background: #999;


    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    position: relative;

    -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
    -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}

.slideCheck:after {
    content: 'OFF';
    font: 12px/26px Arial, sans-serif;
    color: #000;
    position: absolute;
    right: 10px;
    z-index: 0;
    font-weight: bold;
    text-shadow: 1px 1px 0px rgba(255,255,255,.15);
}

.slideCheck:before {
    content: 'ON';
    font: 12px/26px Arial, sans-serif;
    color: #fff;
    position: absolute;
    left: 10px;
    z-index: 0;
    font-weight: bold;
}

.slideCheck label {
    display: block;
    width: 34px;
    height: 20px;

    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;

    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -ms-transition: all .4s ease;
    transition: all .4s ease;
    cursor: pointer;
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 1;

    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    background: #fcfff4;

    background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}

.slideCheck input[type=checkbox]:checked + label {
    left: 43px;
}
.content-settings {
    margin-top: 10px;
    border: 1px solid;
    border-color: #999;
    background-color: #dbdbdb;
    padding: 10px;
    border-radius: 2px;
    color: #757575;
    font-size: 16px;
    display: none;

}



