body {
    background-color: #d9d9d9;
}

#maincontainer {
    padding-top: 60px;
}

.light-box {
    margin: 20px;
    padding: 10px;
    border: 1px solid black;
    background-color: #fff;
    border-radius: 5px;
}

.course div > ul {
    display: block;
    margin: 0;
    padding: 0;
}

.course div > ul li {
    display: inline-block;
    font-weight: bold;
}

.right {
    float: right;
}

.more-margin {
    margin: 20px;
}

.box-shadow {
    box-shadow: 0 0 3em #888888;
}

.brand a:hover {
    text-decoration: none;
    color: #0088CC;
}

.bs-docs-sidenav.affix {
    top: 40px;
}

.bs-docs-sidenav {
    width: 258px;
}

.bs-docs-sidenav {
    background-color: #FFFFFF;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    margin: 30px 0 0;
    padding: 0;
    width: 228px;
}

.bs-docs-sidenav .icon-chevron-right {
    float: right;
    margin-right: -6px;
    margin-top: 2px;
    opacity: 0.25;
}

#footer {
    background-color: #C4C4C4;
    border-top: 6px solid #a5a5a5;
    margin-top: 60px;
    padding: 30px 0;
    text-align: center;
}

#lesson-content {
    border: 1px solid #a5a5a5;
    background-color: #ebebeb;
    padding: 20px;
    list-style: none;
}

#lesson-content .row {
   margin-left: 0px;
}

#lesson-content .row-fluid, #lesson-content .row {
    margin-bottom: 20px;
}

.row div h2, .row div h3 {
    margin-top: 25px !important;
}

#lesson-content .row div h2, #lesson-content .row div h3 {
    margin-top: 40px !important;
}

#lesson-content .edit-box {
    margin-bottom: 5px;
}

#progress {
    margin-top: 20px;
}

#dropzone {
    margin-top: 20px;
    background: #e5e5e5;
    line-height: 50px;
    text-align: center;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

#dropzone.hover {
    background: #ffffff;
}

#dropzone.fade {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
}

input.edit-btn-large {
    padding: 11px 19px;
    font-size: 30px;
    width: 80%;

}

.sortable li:hover, .sortable a:hover {
    cursor: move;
}

.btn-warning {
    cursor: pointer !important;
}

/*
Quiz
*/

.startQuiz,
.nextQuestion,
.backToQuestion,
.questions li.question,
.questions li.question .responses,
.questions li.question .responses .alert-success,
.questions li.question .responses .alert-error,
.quizResults {
    display: none;
}

.nextQuestion.checkAnswer {
    display: block;
}

ol.questions,
ul.answers,
ul.responses,
ol.questions li,
ul.answers li,
ul.responses li {
    list-style-type: none;
}

ul.answers label {
    display: inline;
    margin-bottom: 0;
    margin-left: 10px;
    cursor: default;
    vertical-align: middle;
}

.checkAnswer {
    margin-top: 10px;
}

#quiz-update .controls {
    margin-left: 10px;
!important
}

#quiz-json-form .checkbox {
    float: left;
    margin-top: 4px;
}

#quiz-json-form .control-group {
    margin-bottom: 5px;
}

#quiz-json-form div div.control-group div.controls div ul._jsonform-array-ul li fieldset div.control-group {
    margin-bottom: 10px;
}

#quiz-json-form div div.control-group div.controls div ul._jsonform-array-ul li fieldset div.control-group div {
    margin-bottom: 0px;
!important
}

#quiz-json-form div div.control-group div.controls div ul._jsonform-array-ul li {
    border-bottom: 1px solid #aaa;
    margin-bottom: 10px;

}

#quiz-json-form div div.control-group div.controls div ul._jsonform-array-ul li li {
    border: none;
}

.vjs-big-play-button{
    margin: auto !important;
}

@media print {
    #lessons-menu, .navbar, #footer{
        display:none;
    }
    #lesson-content{
        border: none;
        padding: 0;
    }
}


