body {
    padding-top: 60px;
    background-color: #d9d9d9;
}

.light-box {
    margin: 20px;
    padding: 10px;
    border: 1px solid black;
    background-color: #fff;
    border-radius: 5px;
}

.course div > ul {
    display: block;
    margin: 0;
    padding: 0;
}

.course div > ul li {
    display: inline-block;
    font-weight: bold;
}

.right {
    float: right;
}

.more-margin {
    margin: 20px;
}

.box-shadow {
    box-shadow: 0 0 3em #888888;
}

.centred {
    margin-left: auto !important;
    margin-right: auto !important;
    float: none !important;
    text-align: center;
}

#footer {
    background-color: #C4C4C4;
    border-top: 1px solid #a5a5a5;
    margin-top: 60px;
    padding: 30px 0;
    text-align: center;
}

#lesson-content {
    border: 1px solid #a5a5a5;
    background-color: #ebebeb;
    padding: 20px;

}

#lesson-content .container .row-fluid {
    margin-bottom: 20px;
}

#progress {
    margin-top: 20px;
}

#dropzone {
    margin-top: 20px;
    background: #e5e5e5;
    line-height: 50px;
    text-align: center;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

#dropzone.hover {
    background: #ffffff;
}

#dropzone.fade {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
}

.startQuiz,
.nextQuestion,
.backToQuestion,
.questions li.question,
.questions li.question .responses,
.questions li.question .responses .correct,
.questions li.question .responses .incorrect,
.quizResults {
    display: none;
}

.nextQuestion.checkAnswer {
    display: block;
}

ol.questions,
ul.answers,
ul.responses,
ol.questions li,
ul.answers li,
ul.responses li {
    list-style-type: none;
}


